apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: splunk-ingress
  namespace: splunk
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: PathPrefix(`/en-US/account/login`)
      services:
        - kind: Service
          name: splunk
          port: 8000
    - kind: Rule
      match: Host(`splunk.{{ domain_name }}`)
      services:
        - kind: Service
          name: splunk
          port: 8000
    - kind: Rule
      match: Host(`hec.lab.local`)
      services:
        - kind: Service
          name: splunk-hec
          port: 8088
