[
  {
    "connection_group_id": 300,
    "connection_group_name": "k8s",
    "type": "ORGANIZATIONAL",
    "enable_session_affinity": false
  },
  {
    "connection_group_id": 400,
    "connection_group_name": "docker",
    "type": "ORGANIZATIONAL",
    "enable_session_affinity": false
  }
]