[
  {
    "entity_id": 300,
    "connection_group_id": 300,
    "permission": "READ"
  },
{% for ip in lab_ips %}
{% set id = ip | regex_search('(\d+)$') %}
  {
    "entity_id": {{ id }},
    "connection_group_id": 300,
    "permission": "READ"
  }{% if not loop.last %},{% endif %}
  
{% endfor %}
]
