extensions:
  health_check:

receivers:
  hostmetrics:
    collection_interval: 5s
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      paging:
  journald:
    units:
    - ssh
  filelog:
    include:
    - /var/log/auth.log
    - /var/log/syslog

  {# kubeletstats:
    collection_interval: 20s
    auth_type: "tls"
    endpoint: "https://localhost:10250"
    ca_file: "/etc/otelcol-contrib/tls/client-ca.crt"
    key_file: "/etc/otelcol-contrib//tls/client-kube-apiserver.key"
    cert_file: "/etc/otelcol-contrib/tls/client-kube-apiserver.crt"
    insecure_skip_verify: true #}

processors:
  batch:
  resourcedetection:
    detectors:
    - system
    system:
      resource_attributes:
        host.name:
          enabled: true

exporters:
  splunk_hec/logs:
    token: "fb173829-c4ef-43d9-b876-cdce452efdcd"
    endpoint: "http://hec.lab.local/services/collector"
    source: "otel"
    sourcetype: "lab_logs"
    index: "lab_logs"
    disable_compression: false
    timeout: 10s
    tls:
      insecure_skip_verify: true
  splunk_hec/metrics:
    token: "fb173829-c4ef-43d9-b876-cdce452efdcd"
    endpoint: "http://hec.lab.local/services/collector"
    source: "otel"
    sourcetype: "lab_metrics"
    index: "lab_metrics"
    disable_compression: false
    timeout: 10s
    tls:
      insecure_skip_verify: true

service:
  pipelines:
    metrics:
      receivers:
      - hostmetrics
      #- kubeletstats
      processors:
      - batch
      - resourcedetection
      exporters:
      - splunk_hec/metrics
    logs:
      receivers:
      - journald
      - filelog
      processors:
      - batch
      - resourcedetection
      exporters:
      - splunk_hec/logs

  extensions:
  - health_check