all:
  vars:
    ansible_user: ansible
    ansible_ssh_private_key_file: ~/.ssh/id_aws_ansible
  children:
    bastion:
      vars:
        guacamole_dns: ${guacamole_dns.name}
      hosts:
        ${bastion_dns.name}:
    lab:
      hosts:
        %{~ for instance in lab_instances ~}
        ${ instance.private_ip }:
        %{~ endfor ~}
