all:
  vars:
    ansible_user: ansible
    ansible_ssh_private_key_file: ~/.ssh/id_aws_ansible
  children:
    bastion:
      hosts:
        ${bastion_instance.public_dns}:
    docker:
      hosts:
        %{~ for instance in docker_instances ~}
        ${ instance.private_ip }:
        %{~ endfor ~}
    k8s:
      hosts:
        %{~ for instance in k8s_instances ~}
        ${ instance.private_ip }:
        %{~ endfor ~}