Name,LabName,IP,Username,Password,HTTP
%{ for instance in lab_instances ~}
,${instance.tags["Name"]},${instance.private_ip},student,supersecure,https://${instance.tags["Name"]}.aws.ntslab.eu

%{~ endfor ~}